1.   What are data structures, and why are they important?
Ans: Data structure is a way of organizing and storing data so that it can be accessed and manipulating efficiently.
                 Data structures organize data elements logically and make code more easier to understand.

2.   Explain the difference between mutable and immutable data types with examples.
Ans: Objects whose state or value can be changed after they are created are called as mutable objects.
     Example- List.

        Objects whose state or value can not be changed after they are created are called as immutable objects.
        Example- String, Tuples.

3.   What are the main differences between lists and tuples in Python?
Ans: (i)  Lists are mutable data structure and tuples are immutable data structure.
     (ii) Lists can be modified and tuples can not be modified.

4.   Describe how dictionaries store data?
Ans: Dictionery is a data structure that store data as key value pair.

5.   Why might you use a set instead of a list in Python?
Ans: We use the set because it allow a lot of operations.

6.   What is a string in Python, and how is it different from a list?
Ans: String is a sequence of character that represent and manipulate textual data.
                    String is immutable where list is mutable data structure.

7.   How do tuples ensure data integrity in Python?
Ans: Tuples are immutable so we can not modify the data.

8.   What is a hash table, and how does it relate to dictionaries in Python?
Ans: Hash table is a data structure that stores key-value pairs in an array format. That means each data value having a unique index value.
                  Python dictioneries are made using hash tables.

9.   Can lists contain different data types in Python?
Ans: Yes, lists contain different data types in python.

10.  Explain why strings are immutable in Python?
Ans: Strings are immutable in python so that programmers can not change the content of the objects.

11.  What advantages do dictionaries offer over lists for certain tasks?
Ans: Dictioneries make code more easier if we need key-value pair than lists.

12.  Describe a scenario where using a tuple would be preferable over a list?
Ans: Tuple would be preferable over a list if we need an immutable data where the elements would not change after creation.

13.  How do sets handle duplicate values in Python?
Ans: Sets are unordered and unique collection of elements. So it does not allow duplicate values.

15.  Can you modify the elements of a tuple? Explain why or why not?
Ans: No, we can not modify the elements of a tuple. Because it is immutable.

16.  What is a nested dictionary, and give an example of its use case?
Ans: Nested dictionery is a dictionery that contains other dictioneries.
     Example- Employee records.

18.  In what situations are lists preferred over dictionaries?
Ans: Lists are preferred over dictioneries for the ordered collection of data.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.
Ans: (i)  List is an ordered collection of items whereas dictionery is a unordered data collection in a key-value pair.
     (ii) Elements of the list can be accessed using index number while elements of the dictionery can be accessed using keys.

# Practical Questions:-

In [23]:
#1. Write a code to create a string with your name and print it.

Name = "Kaushik Sutradhar"
print (Name)

Kaushik Sutradhar

In [31]:
#2. Write a code to find the length of the string "Hello World".

string1 = "Hello World"
len (string1)

11

In [35]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

Course = "Python Programming"
Course [0 : 3]

'Pyt'

In [37]:
#4. Write a code to convert the string "hello" to uppercase.

Text = "hello"
Text . upper ()

'HELLO'

In [55]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

String2 = "I like apple"
String2.replace ("apple","orange")

'I like orange'

In [57]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

Numbers = [1, 2, 3, 4, 5]
print (Numbers)

[1, 2, 3, 4, 5]

In [65]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

Number = [1, 2, 3, 4]
Number.append (10)
Number

[1, 2, 3, 4, 10]

In [67]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

List1 = [1, 2, 3, 4, 5]
List1.remove (3)
List1

[1, 2, 4, 5]

In [77]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

List2 = ['a', 'b', 'c', 'd']
List2 [1]

'b'

In [79]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

List3 = [10, 20, 30, 40, 50]
List3 [: : -1]

[50, 40, 30, 20, 10]

In [83]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

Num = (10, 20, 30)
print (Num)

(10, 20, 30)

In [87]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Fruits = ('apple', 'banana', 'cherry')
Fruits [0]

'apple'

In [89]:
#13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Numbers = (1, 2, 3, 2, 4, 2)
Numbers.count (2)

3

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Animals = ('dog', 'cat', 'rabbit')
Animals.index ("cat")

1

In [21]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Fruit_list = ('apple', 'orange', 'banana')
"banana" in Fruit_list

True

In [31]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Elements = {1, 2, 3, 4, 5}
for i in Elements:
    print (i, end=" ")

1 2 3 4 5

In [33]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

Numbers = {1, 2, 3, 4}
Numbers.add (6)
Numbers

{1, 2, 3, 4, 6}

In [35]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

Tuples = (10, 20, 30)
print (Tuples)

(10, 20, 30)

In [37]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Fruits = ('apple', 'banana', 'cherry')
Fruits [0]

'apple'

In [39]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

Num_list = (1, 2, 3, 2, 4, 2)
Num_list.count (2)

3

In [41]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

Animal_list = ('dog', 'cat', 'rabbit')
Animal_list.index ("cat")

1

In [43]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Fruits = ('apple', 'orange', 'banana')
"banana" in Fruits

True

In [45]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Elements = {1, 2, 3, 4, 5}
print (Elements)

{1, 2, 3, 4, 5}

In [49]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

Numbers = {1, 2, 3, 4}
Numbers.update ([6])
Numbers

{1, 2, 3, 4, 6}